<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Second</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Second</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2 class="page-focus">Important Heading Two</h2>
  <ion-button routerLink="/home">Page One</ion-button>
  <p>Quisque sit amet lacus condimentum, fermentum mauris eget, condimentum ex. Praesent vel ligula a orci pulvinar vestibulum. Vestibulum fermentum nunc consectetur mi pretium tincidunt. Maecenas sed enim eget eros dapibus pretium. Sed lacinia, mauris sagittis ultricies laoreet, ligula enim sagittis lacus, vel vulputate tortor tellus eget justo. Donec id sapien ut urna semper ultricies id eget quam. Nulla enim lorem, tristique ac ultrices nec, pretium in leo. Vestibulum mollis, nisl a suscipit bibendum, lorem velit elementum urna, at condimentum tortor mi eu est. Duis vitae sodales lectus. Donec enim tortor, auctor quis lorem non, sodales aliquam odio.</p>
</ion-content>
